[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule ".vim/pack/local/start/editorconfig-vim"]
	path = .vim/pack/local/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/local/start/vim-pentadactyl"]
	path = .vim/pack/local/start/vim-pentadactyl
	url = https://github.com/joedicastro/vim-pentadactyl.git
[submodule ".pentadactyl/pentadactyl"]
	path = .pentadactyl/pentadactyl
	url = https://github.com/pentadactyl/pentadactyl.git
[submodule ".vim/pack/local/start/vimtex"]
	path = .vim/pack/local/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/pack/local/start/vim-sandwich"]
	path = .vim/pack/local/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule ".vim/pack/local/start/vim-fugitive"]
	path = .vim/pack/local/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/local/start/vim-polyglot"]
	path = .vim/pack/local/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
