[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule ".vim/pack/local/start/editorconfig-vim"]
	path = .vim/pack/local/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/local/start/vim-latex"]
	path = .vim/pack/local/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
