/*

!.gitignore

!/bin

!/.config
/.config/*
!/.config/autostart
!/.config/alacritty/
/.config/alacritty/*
!/.config/alacritty/alacritty.yml
!/.config/calcurse
!/.config/dmenu-frecency
/.config/dmenu-frecency/state
/.config/dmenu-frecency/tmp*
!/.config/fontconfig
!/.config/git
/.config/git/gitk
!/.config/gtk-3.0
/.config/gtk-3.0/bookmarks
!/.config/i3
!/.config/i3blocks
!/.config/i3status
!/.config/ibus
/.config/ibus/bus
!/.config/keepmenu
!/.config/locale.conf
!/.config/nano
!/.config/pentadactyl
!/.config/picom
!/.config/qutebrowser
/.config/qutebrowser/autoconfig.yml
/.config/qutebrowser/bookmarks
/.config/qutebrowser/quickmarks
/.config/qutebrowser/qsettings
!/.config/rofi
!/.config/sage
/.config/sage/cache
/.config/sage/R
!/.config/termite
/.config/termite/*.config
!/.config/vim
/.config/vim/spell
!/.config/X11
!/.config/zathura

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/rehome/
!/.local/share/qutebrowser/
/.local/share/qutebrowser/*
!/.local/share/qutebrowser/userscripts

__pycache__
