/*

!.gitignore

!/bin

!/.config
/.config/*
!/.config/autostart
!/.config/alacritty/
!/.config/calcurse
!/.config/dmenu-frecency
/.config/dmenu-frecency/state
/.config/dmenu-frecency/tmp*
!/.config/fontconfig
!/.config/fcitx5
/.config/fcitx5/conf/*
!/.config/fcitx5/conf/*.conf
!/.config/git
/.config/git/gitk
!/.config/i3
!/.config/i3blocks
!/.config/i3status
!/.config/ibus
/.config/ibus/bus
!/.config/ipython
!/.config/keepmenu
!/.config/locale.conf
!/.config/nano
!/.config/networkmanager-dmenu
!/.config/pentadactyl
!/.config/picom
!/.config/qt5ct
/.config/qt5ct/*
!/.config/qt5ct/qt5ct.conf
!/.config/qutebrowser
/.config/qutebrowser/autoconfig.yml
/.config/qutebrowser/bookmarks
/.config/qutebrowser/quickmarks
/.config/qutebrowser/qsettings
!/.config/rofi
!/.config/sage
/.config/sage/cache
/.config/sage/R
/.config/sage/temp
!/.config/sway
!/.config/swaylock
!/.config/termite
/.config/termite/*.config
!/.config/vim
/.config/vim/spell
!/.config/X11
!/.config/zathura

!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/rehome/
!/.local/share/qutebrowser/
/.local/share/qutebrowser/*
!/.local/share/qutebrowser/userscripts

__pycache__
