[submodule ".config/i3blocks/i3blocks-contrib"]
	path = .config/i3blocks/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule ".vim/pack/local/start/editorconfig-vim"]
	path = .vim/pack/local/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule ".vim/pack/local/start/vim-latex"]
	path = .vim/pack/local/start/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule ".vim/pack/local/start/nim.vim"]
	path = .vim/pack/local/start/nim.vim
	url = https://github.com/zah/nim.vim.git
[submodule ".vim/pack/local/start/vim-pentadactyl"]
	path = .vim/pack/local/start/vim-pentadactyl
	url = https://github.com/joedicastro/vim-pentadactyl.git
[submodule ".pentadactyl/pentadactyl"]
	path = .pentadactyl/pentadactyl
	url = https://github.com/pentadactyl/pentadactyl.git
