! Tamzen
! https://gist.github.com/radiosilence/5891672

URxvt.font: -misc-tamzen-medium-r-normal--17-*-*-*-*-*-iso8859-1,-*-unifont-medium-*-*-*-16-*-*-*-*-*-*-*

! Colors
! https://bastian.rieck.ru/blog/posts/2013/making_urxvt_beautiful/
! https://en.wikipedia.org/w/index.php?title=ANSI_escape_code&oldid=883006508#3/4_bit

URxvt.background: Black
URxvt.foreground: White

URxvt.color0: #000000
URxvt.color1: #c23621
URxvt.color2: #25bc24
URxvt.color3: #adad27
URxvt.color4: #492de1
URxvt.color5: #d338d3
URxvt.color6: #33bbc8
URxvt.color7: #cbcccd
URxvt.color8: #818383
URxvt.color9: #fc391f
URxvt.color10: #31e722
URxvt.color11: #eaec23
URxvt.color12: #5833ff
URxvt.color13: #f935f8
URxvt.color14: #14f0f0
URxvt.color15: #e9ebeb

URxvt.scrollBar: false

! Do not scroll with output
! https://wiki.archlinux.org/index.php?title=Rxvt-unicode&oldid=572794#Scrollback_position
URxvt.scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,vtwheel

! Disable "keycap picture insert mode"
! https://old.reddit.com/r/urxvt/comments/35x03n/if_youve_been_vexed_by_urxvts_picture_insert_mode/
! https://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html#c289
URxvt.iso14755: true
URxvt.iso14755_52: false

URxvt.inputMethod: ibus
