! Tamzen
! https://gist.github.com/radiosilence/5891672

URxvt.font: -misc-tamzen-medium-r-normal--17-*-*-*-*-*-iso8859-1,-*-unifont-medium-*-*-*-16-*-*-*-*-*-*-*

! Colors
! https://bastian.rieck.ru/blog/posts/2013/making_urxvt_beautiful/
! https://en.wikipedia.org/w/index.php?title=ANSI_escape_code&oldid=883006508#3/4_bit

URxvt.background: Black
URxvt.foreground: White

URxvt.scrollBar: false

! Do not scroll with output
! https://wiki.archlinux.org/index.php?title=Rxvt-unicode&oldid=572794#Scrollback_position
URxvt.scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,vtwheel

! Disable "keycap picture insert mode"
! https://old.reddit.com/r/urxvt/comments/35x03n/if_youve_been_vexed_by_urxvts_picture_insert_mode/
! https://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html#c289
URxvt.iso14755: true
URxvt.iso14755_52: false

URxvt.inputMethod: ibus
