! Tamzen
! https://gist.github.com/radiosilence/5891672

URxvt.font: -misc-tamzen-medium-r-normal--17-*-*-*-*-*-iso8859-1,-*-unifont-medium-*-*-*-16-*-*-*-*-*-*-*

! Colors
! https://bastian.rieck.ru/blog/posts/2013/making_urxvt_beautiful/
! https://en.wikipedia.org/w/index.php?title=ANSI_escape_code&oldid=883006508#3/4_bit

URxvt.background: Black
URxvt.foreground: White

URxvt.color0:   #000000
URxvt.color1:   #A80000
URxvt.color2:   #00A800
URxvt.color3:   #A8A800
URxvt.color4:   #0000A8
URxvt.color5:   #A800A8
URxvt.color6:   #00A8A8
URxvt.color7:   #A8A8A8

URxvt.color8:   #000054
URxvt.color9:   #FF0054
URxvt.color10:  #00FF54
URxvt.color11:  #FFFF54
URxvt.color12:  #0000FF
URxvt.color13:  #FF00FF
URxvt.color14:  #00FFFF
URxvt.color15:  #FFFFFF

URxvt.scrollBar: false

! Do not scroll with output
! https://wiki.archlinux.org/index.php?title=Rxvt-unicode&oldid=572794#Scrollback_position
URxvt.scrollTtyOutput: false

! Scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! Scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.perl-ext-common: default,vtwheel

! Disable "keycap picture insert mode"
! https://old.reddit.com/r/urxvt/comments/35x03n/if_youve_been_vexed_by_urxvts_picture_insert_mode/
! https://wilmer.gaa.st/blog/archives/36-rxvt-unicode-and-ISO-14755-mode.html#c289
URxvt.iso14755: true
URxvt.iso14755_52: false

URxvt.inputMethod: ibus
