[Desktop Entry]
Type=Application
Exec=ibus-daemon -drx
X-MATE-Autostart-enabled=true
Name[en_US]=IBus Daemon
Name=IBus
Comment[en_US]=Input methods daemon
Comment=Input methods daemon
