[Desktop Entry]
Type=Application
Exec=xbindkeys
Hidden=false
X-MATE-Autostart-enabled=true
Name[en_US]=XBindKeys
Name=XBindKeys
Comment[en_US]=Disable middle mouse button to paste text from clipboard
Comment=Disable middle mouse button to paste text from clipboard
